---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=12YrYkPlwDBM1BOaicCszbCY1QX7hPr0PgdOUqLE&limit=10&postal_code=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 12 Sep 2016 16:39:54 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
    body:
      encoding: ASCII-8BIT
      string: '{"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":26747,"station_counts":{"total":51532,"fuels":{"E85":{"total":3135},"ELEC":{"total":41834,"stations":{"total":17049}},"HY":{"total":89},"LNG":{"total":193},"BD":{"total":706},"CNG":{"total":1856},"LPG":{"total":3719}}},"fuel_stations":[{"access_days_time":null,"cards_accepted":null,"date_last_confirmed":"2015-08-04","expected_date":null,"fuel_type_code":"CNG","id":17,"groups_with_access_code":"Private","open_date":"2010-12-01","owner_type_code":"T","status_code":"E","station_name":"Alagasco
        Montgomery Operations Center","station_phone":null,"updated_at":"2016-01-13T17:59:17Z","geocode_status":"200-8","latitude":32.36791,"longitude":-86.267019,"city":"Montgomery","intersection_directions":null,"plus4":null,"state":"AL","street_address":"2951
        Chestnut St","zip":"36107","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":"B","ng_psi":"3600","ng_vehicle_class":"MD"},{"access_days_time":"24
        hours daily; call 866-809-4869 for Clean Energy card","cards_accepted":"D
        M V CleanEnergy FuelMan Voyager Wright_Exp","date_last_confirmed":"2015-03-04","expected_date":null,"fuel_type_code":"CNG","id":42,"groups_with_access_code":"Public
        - Credit card at all times","open_date":"1994-07-15","owner_type_code":"P","status_code":"E","station_name":"Clean
        Energy - PS Energy - Atlanta","station_phone":"866-809-4869","updated_at":"2016-07-2[...]
